@import "tailwindcss";

@theme {
  --color-primary: #131424;
  --color-secondary: #393a47;
  --color-accent: #f13024;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  --background-image-explosion: url("/bg-explosion.png");
  --background-image-circles: url("/bg-circles.png");
  --background-image-circle-star: url("/circle-star.svg");
  --background-image-site: url("/site-bg.svg");

  --animate-spin-slow: spin 6s linear infinite;
}

@theme inline {
  --font-sora: var(--font-sora-family), sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 15px;
}

.translate-z-0 {
  transform: translateZ(0px);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply bg-secondary overflow-hidden leading-relaxed;
  }
  .page {
    @apply w-full h-screen overflow-hidden;
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply leading-[1.8] text-white/60 font-light;
  }
  .btn,
  .input {
    @apply h-13;
  }
  .input {
    @apply w-full h-13 rounded-lg pl-6;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-hidden focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full min-h-32 p-6 rounded-lg resize-none overflow-hidden max-h-60;
  }
}

/* Hide reCAPTCHA v3 badge */
.grecaptcha-badge {
  visibility: hidden;
}
